a {
  color:#eeeeee;
  border-bottom: 5px solid #AAAAAA;
  text-decoration: none;
  }
a:hover{
  border-bottom: 8px solid #CCCCCC;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
